

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>float을 이용한 레이아웃</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/32-rwd.css">
    <style>
            @charset "utf-8";
			*{margin:0;padding:0;}
			
			#wrap{
				width:960px;
				margin:30px auto 0;
                /*위/좌우/아래*/
                text-align: center;
                /*text관련 속성은 자손에게 자동 상속*/
                font-weight: 800;
                font-size: 2em;
			}
			
			header, .lnb, .ad, .cont, footer{
                border-radius: 10px;
        }
			
			header{
				width:960px;
				height:100px;
				line-height:100px;
                background-color: gray;
			}
			
			section{margin:10px 0px;*zoom:1;}
			section:after{display:block;clear:both;content:'';}
        /*clear:both는 반드시 블럭에만 적용// 플롯의 영향력 차단 // 가상선택자 after는 반드시 content속성 필요*/
        
            section>.left{
                float: left;
                width: 200px;
                margin-right: 10px
            }
			section>.left>.lnb{
				height:250px;
				line-height:250px;
                margin-bottom: 10px;
                background-color: blue;
			}
            section>.left>.ad{
				height:140px;
				line-height:140px;
                background-color: pink;
			}
            section>.cont{
				float:left;
				width:750px;
				height:400px;
				line-height:400px;
                background-color: yellow;
			}
			
			footer{
                width: 960px;
				height:100px;
				line-height:100px;
                background-color: red;
			}
			
    </style>
</head>
<body>

<div id="wrap">
	<header><h1>헤더</h1></header>
	<section>
          <article class="left">
              <div class="lnb">LNB</div>
              <div class="ad">AD</div>
           </article>
		<article class="cont">컨텐츠</article>
	</section>
	<footer>풋터</footer>
</div>    
            
</body>
</html>


































